<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AC-emoticon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>CIV-Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CIVWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>CustomImageBoardViewer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CustomImageBoardViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Glance - CustomImageBoardViewer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>441E5CCA17F4691300289DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>441E5CEE17F4691300289DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44553FDB1BABEBA700667435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4459A3621DFFA61700C196C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4476B6411B9FDD43004E6650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A294891BFDEFF50033D438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
